<Section class="Student">
  <div class="page_header">
    <div class="container">
      <div class="header">
        <a routerLink="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="32"
            fill="currentColor"
            class="bi bi-arrow-left-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"
            />
          </svg>
        </a>
        <h1>Student Details</h1>
      </div>
      <div class="Student__details">
        <div class="section__form">
          <form #studentDetailForm="ngForm">
            <div class="form-Group">
              <input
                class="form-group__right"
                [(ngModel)]="student.firstName"
                name="firstName"
                placeholder="First Name"
              />
              <input
                placeholder="Last Name"
                name="lastName"
                [(ngModel)]="student.lastName"
              />
            </div>
            <div class="form-Group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="student.dateOfBirth"
                ngbDatepicker
                #d="ngbDatepicker"
                name="dateOfBirth"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-calendar"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div class="form-Group">
              <input
                class="form-group__right"
                placeholder="Email"
                [(ngModel)]="student.email"
                name="email"
              />
              <input
                placeholder="Mobile"
                [(ngModel)]="student.mobile"
                name="mobile"
              />
            </div>
            <div class="form-Group">
              <input
                class="Gender"
                placeholder="Gender"
                [(ngModel)]="student.gender.description"
                name="gender"
              />
            </div>
            <div class="form-Group">
              <textarea
                placeholder="Physical Address"
                [(ngModel)]="student.address.physicalAddress"
                name="physicalAddress"
              ></textarea>
            </div>
            <div class="form-Group">
              <textarea
                placeholder="Portal Address"
                [(ngModel)]="student.address.portalAddress"
                name="portalAddress"
              ></textarea>
            </div>
          </form>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</Section>
