.Student {
  .header {
    display: flex;
    svg {
      margin: 16px 12px 0px 0px;
      fill: $mainColor;
    }
  }
  .Student__details {
    display: flex;
    margin-top: 80px;
    .section__form {
      width: 50%;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .form-Group {
        display: flex;
        margin-top: 17px;
        .form-group__right {
          margin-right: auto;
        }
        input {
          font-size: 17px;
        }
        textarea,
        .Gender {
          width: -webkit-fill-available;
          font-size: 17px;
        }
      }
    }
  }
}
